.card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    margin-top: 60px;
    margin-bottom: 60px;
}
.card__title{
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
}
.card__body{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}
.form-container{
    font-size: 20px;
    margin-bottom: 20px;
}
.form-container__item{
    padding-top:10px;
    padding-bottom: 10px;
}

.form-container__input{
    background-color: #101010;
    color:white;
    border-radius:50px;
    border: 1px solid #101010;
    min-width: 50%;
    padding: 10px;
}
.form-container__input:hover{
    background-color:white;
    color:#101010;
    border-radius:50px;
    border: 1px solid #101010;
    min-width: 50%;
    padding: 10px;
}
.form-container__button{
    border-radius:50px;
    border: 1px solid #ee2527;
    padding: 10px;
    background-color: #ef2627;
    background-image: linear-gradient(180deg, #ef2627 10%, #c92225 50%, #b02024 100%);
    color: #fff;
    transition: all 0.5s ease;
    padding: 10px;
    min-width: 30%;
    font-size: 18px;
}
.alert-container{
    background-color: #b02024;
    color: #010101;
    text-align: center;
}
.alert-container--success{
    background-color: green;
}
.form-container__button--modif{
    
    min-width: 10%;
}
.form-container__span{
    font-weight: 600;
}
.form-container__invalid-feedback{
    color:#ef2627;
}
.form-container__input--miss{
    border: 2px #ef2627 solid;
}
.form-container__button:hover{
    border-radius:50px;
    background-image: linear-gradient(
    180deg
    , #b02024 10%, #c92225 50%, #ef2627 100%);
    color: #ffffff;
    transition: all 0.5s ease;
}