.container-row-grid{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
}
.container-row-grid__item{
    justify-self:stretch;
    border:1px #010101 solid;
    padding: 20px 20px;
    color:#ee2527;
    border-radius: 50px;
}
.container-row-grid__item:hover{
    background-color: #010101;
    color: white;
    border-radius:50px;
}
.container-row-grid__link{
    text-decoration: none;
    background-color: white;
}
.container-row-grid__label{
    font-size: 32px;
}
.container-row-grid__title{
    font-size: 2em;
    font-weight: 600;
}
.container-row-grid__body{
    color:black;
    font-weight: 500;
}
.container-row-grid__item--hov{
    color:black;
    background-color: rgb(255, 193, 193);
}
.container-row-grid__item--hov:hover{
    color:black;
    background-color: white;
    position: relative;
    opacity: 1;
    transform: scale(1.1);
}
.container-row-grid__input{
    float: right;
    border-radius:50px;
    border: 1px solid #ee2527;
    padding: 10px;
    background-color: #ef2627;
    background-image: linear-gradient(180deg, #ef2627 10%, #c92225 50%, #b02024 100%);
    color: #fff;
    transition: all 0.5s ease;
    padding: 10px;
    min-width: 20%;
    font-size: 18px;
}
.container-row-grid__input:hover{
    float: right;
    border-radius:50px;
    border: 1px solid #b02024;
    padding: 10px;
    background-color: #b02024;
    background-image: linear-gradient(90deg, #ef2627 10%, #c92225 50%, #b02024 100%);
    color: #fff;
    transition: all 0.5s ease;
    padding: 10px;
    min-width: 20%;
    font-size: 18px;
}
.container-grid{
    margin-top: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
}
.container-grid__item{
    justify-self:stretch;
}
.container-grid__input:hover{
    width: 100%;
    padding: 60px 0px;
    font-size: 32px;
    font-weight: 600;
    background-color: white;
    color:#ee2527;
    border-radius: 50px;
    border: 1px #010101 solid;
}
.container-grid__input{
    width: 100%;
    padding: 60px 0px;
    font-size: 32px;
    font-weight: 600;
    background-color: #010101;
    color:white;
    border-radius: 50px;
    border: 1px #010101 solid;
}
@media screen and (max-width: 700px) {
    .container-grid{
        grid-gap:0px;
    }
    .container-grid__input{
        border-radius: 0px;
        border:1px #fff solid;
        width: 100%;
        padding: 30px 0px;
        font-size: 14px;
        font-weight: 600;
    }
    .container-grid__input:hover{
        border-radius: 0px;
        border:1px #fff solid;
        width: 100%;
        padding: 30px 0px;
        font-size: 16px;
        font-weight: 500;
        background-color: white;
        color:#ee2527;
    }
    .container-row-grid__label{
        color:#ee2527;
        font-size: 20px;
    }
    .container-row-grid__input{
        font-size: 12px;
        padding: 12px;
    }
    .container-row-grid__input:hover{
    font-size: 12px;
        padding: 12px;
    }
}