.block__item{
	font-size: 18px;
}
.block__name{
	font-size: 26px;
	text-align: left;
}
.block{
	margin-top:50px;
	margin-bottom: 50px;
}
@media print {
	html,body{
		height: auto;
	}
	@page :first { margin: 1cm; /* Отступы для первой страницы */ }
	
	@page :left { margin: 1cm 3cm 1cm 1.5cm;}
	
	.block__item { page-break-inside: avoid;
	widows: 4;
	font-size: 1.15em;
    text-align: left;
	orphans: 1;}
	
	.block__item a[href]:after {
        content: " (" attr(href) ")";}
	.block{
		margin-top: 0px;
		margin-bottom: 0px;
	}	
    	
    h5 {font-size: 2em;
        text-align: center;}
		
    .wrapper{max-width: none;}
	
    header{
		display: none;
	}
	footer{
		display: none;
	}
    @page { size: A4;
        margin: 1cm;}
		
	.block__unvisible {display: none;}
	.block__name {
	  page-break-inside: avoid;
	  page-break-after: avoid;
	}
	body{
	background:none;
	}

	.block__title + .block__name {
	  page-break-before: avoid;
	  page-break-inside: avoid;
	}
}

@media screen and (max-width: 700px) {
	html,body{
		height: auto;
	}
	.block{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.block__item{
		font-size: 14px;
	}
	.block__name{
		font-size: 18px;
		text-align: left;
	}
	.block__title{
		font-size: 24px;
	}
	.block{
		margin-top:50px;
		margin-bottom: 50px;
	}
}