
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    padding-bottom: 10px;
}
.search{
    text-align: left;
}
.filter{
    text-align: right;
}
.search__input{
    background-color: #101010;
    color:white;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
    border: 1px solid #101010;
    width: 70%;
    padding: 10px;
}
.search__input:hover{
    background-color: #fff;
    color:#101010;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
    border: 1px solid #101010;
    width: 70%;
    padding: 10px;
}
.search__button{
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    border: 1px solid #ee2527;
    padding: 10px;
    background-color: #ef2627;
    background-image: linear-gradient(180deg, #ef2627 10%, #c92225 50%, #b02024 100%);
    color: #101010;
    transition: all 0.5s ease;
}
.filter__label{
    font-weight: 600;
    margin: 10px 10px 0px 0px;
}
.search__button:hover{
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    background-image: linear-gradient(
    180deg
    , #b02024 10%, #c92225 50%, #ef2627 100%);
    color: #ffffff;
    transition: all 0.5s ease;
}
.filter__select{
        background-color: #101010;
        color:white;
        border-top-left-radius:50px;
        border-bottom-left-radius:50px;
        border: 1px solid #101010;
        width: 70%;
        padding: 10px;
}
.filter__select:hover{
    background-color: white;
    color:#101010;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
    border: 1px solid #101010;
    width: 70%;
    padding: 10px;
}
.filter__button{
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    border: 1px solid #ee2527;
    padding: 10px;
    background-color: #ef2627;
    background-image: linear-gradient(180deg, #ef2627 10%, #c92225 50%, #b02024 100%);
    color: #000;
    transition: all 0.5s ease;
    padding: 10px;
} 
.filter__button:hover{
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    background-image: linear-gradient(
    180deg
    , #b02024 10%, #c92225 50%, #ef2627 100%);
    color: #ffffff;
    transition: all 0.5s ease;
}
.search__label{
    font-weight: 600;
    margin: 10px 10px 0px 0px;
}
.container {
    position: relative;
    padding: 4em 0 0;
    margin: 0;
    z-index: 1;
}
.container h2 {
    font-size: 3em;
    text-align: left;
    font-weight: 600;
    margin: 1.5em 0 0;
}
.container__description {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #797889;
    margin: 0 auto 1em;
    max-width: 682px;
}
h2 {
    font-size: 48px;
    line-height: 134%;
    color: #101010;
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 3;
    transform-style: preserve-3d;
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 1em;
}
h2:before {
    content: attr(data-header);
    font-weight: 700;
    font-size: 80px;
    line-height: 134%;
    text-align: center;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(147,128,192,.38039);
    position: absolute;
    left: 0;
    top: -35px;
    z-index: 0;
    width: 100%;
    transform: translateZ(-1px);
}
.news__item{
    width: 100%;
    /* border: 3px solid #874BA0; */
    border-radius: 8px;
    padding: 30px 10px;
    background-color: rgb(238 227 227 / 13%);;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.pagination-ul {
    margin: 0;
    padding: 4px; 
   }
.pagination-ul li{
    display: inline; 
    margin-right: 5px; 
    border: 2px solid #ee2527; 
    border-radius: 20px;
    padding: 5px 20px;
}
.pagination-ul li:hover{
    display: inline; 
    margin-right: 5px; 
    border: 2px solid #010101; 
    background: #010101;
    color:white;
    border-radius: 20px;
    padding: 5px 20px;
}
.pagination-ul__item{
    color:#010101;
}
.pagination-ul__item a{
    text-decoration: none;
    color:#ee2527;
}
.pagination{
    margin-top: 20px;
    margin-bottom: 20px;
}
.news__body{
    width: 100%;
    max-width: 600px;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.form-container__file{
    font-size:20px;
}
.form-container--modif{
    margin: 0 auto;
    width:50%;
}
textarea{
    resize: none;
    
}
textarea:focus {outline:none;}
.add-file .add-file__item{padding:1em;margin:1em}
.add-file input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none}
.add-file .add-file__label{border:2px dashed grey;border-radius:5px;display:block;padding:1.2em;transition:border 300ms ease;cursor:pointer;text-align:center}
.add-file .add-file__label i{display:block;font-size:42px;padding-bottom:16px}
.add-file .add-file__label i,.add-file .add-file__label .add-file__title{color:grey;transition:200ms color}
.add-file .add-file__label:hover{border:2px solid #000}
.add-file .add-file__label:hover i,.add-file .add_file__label:hover .add-file__title{color:#000}
.flex-container{
    width: 100%;
    max-width: 500px;
}
.form__image img {
    width: 100%;
    max-width: 300px;
}
.flex-container__image img {
    width: 100%;
    max-width: 300px;
}
.form-container--mod{
    text-align: center;
    margin-top: 20px;
}
.news__title{
    font-size: 20pt;
    margin: 5px 0 5px 0;
}
.news__date{
    font-size: 13pt;
    margin: 0;
    color: rgb(95, 95, 95);
}
.news__text{
    font-size: 16pt;
    margin: 0;
    padding-bottom: 10px;
}
.news__image img{
    width: 100%;
    max-width: 300px;
}
.d{
    display: none;
}
.d-n{
    display: block;
}
.form-container__button--modific{
    min-width: 70%
}
@media only screen and (max-width: 768px){
    h2 {
        font-size: 40px;
        margin: 1em 0 2em;
    }
    .header_desription {
        margin: 0 auto 1em;
    }
    h2:before {
        font-size: 36px;
        top: -15px;
    }
    .container h2 {
        font-size: 42px;
        text-align: left;
        font-weight: 600;
        margin: 1.5em 0 0;
    }
    
}

@media screen and (max-width: 999px){
.flex-container{
    text-align: center;
}
}
@media screen and (max-width: 500px) {
    .form-container__input {
        width: 85%;
    }
    .form-container__button--modific{
        width: 85%;
    }
    .grid {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto;
        grid-gap: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .add-file .add-file__item {
        padding: 0;
        margin:0;
    }
    .search__input{
        width: 80%;
    }
    .search__input:focus{
        width: 80%;
    }
    .filter__select{
        width: 85%;
    } 
    .filter__select:focus{
        width: 85%;
    }
    .search{
        text-align: center;
    }
    .filter{
        text-align: center;
    }
}
@media only screen and (min-width: 426px) and (max-width: 768px){
.container {
    padding: 4em 0 0;
}

}