body {
    margin: 0;
    font-family: 'Circe';
    font-weight: normal;
    font-style: normal;
}
html,body{
    height: 100%;
}
#content {
    min-height: 100%;
}
main {
    padding-bottom: 102.2px;
    /*Высота футера*/
}
footer {
    margin-top: -102.2px;
    height: 102.2px;
}
.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.p{
    text-align: center;
}
.top-nav__item-content {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.top-nav__item-content .icon-content:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}
.icon-content:before {
    content: "≡";
    font-size: 40px;
    color: white;
    font-weight: 900;
}
  .header-menu {
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    background-color:#101010;
  }
  .top-nav{
    display: flex;
    place-content: center;
  }
  .footer-container{
    display: flex;
    place-content: center;
  }
   .footer {
    text-align: center;
    overflow: hidden;
    padding: 30px;
    vertical-align: middle;
    background-color:#101010;
  }
  .top-nav a {
    line-height: 44px;
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 29px 30px 0px 30px;
    text-decoration: none;
    font-size: 18px;
  }
  .footer a {
    line-height: 35px;
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 20px 0px 20px;
    text-decoration: none;
    font-size: 16px;
  }

  .top-nav a:hover {
    color: #aaaaaa;
  }
  .top-nav .top-nav__icon {
    display: none;
  }
  .top-nav .top-nav__link--btn{
    color:#ee2527;
    line-height: 20px;
    padding: 40px 0px 0px 0px;
  }
  .footer-container .bottom-nav__link--btn{
    color:#ee2527;
    line-height: 20px;
  }
  .nav__item {
    margin: 15px auto 5px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .active{
    padding: 0px 30px 0px 30px;
  }
  .top-nav__btn-div{
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid #ee2527;
    border-radius:20px;
    padding: 0px 35px;
  }
  
  .top-nav__btn-div:hover{
    border: 2px solid white;
    color:white;
  }
  .bottom-nav__btn-div{
    border: 2px solid #ee2527;
    border-radius:20px;
    padding: 0px 35px;
  }
  input {outline:none;}
  select {outline:none;}
  .bottom-nav__btn-div:hover{
    border: 2px solid white;
    color:white;
  }
  .footer-label{
      color:#fff;
      padding-top: 15px;
  }
  .bottom-nav__link{
    text-decoration: none;
  }
  .top-nav__link{
    text-decoration: none;
  }
  @media screen and (max-width: 920px) {
    .top-nav a:not(:first-child) {display: none;}
    .top-nav a.top-nav__icon {
      float: right;
      display: block;
    }
    .top-nav {
      display: flex;
      place-content: baseline;
      flex-direction: column;
      align-items: center;
  }
}
  
@media screen and (max-width: 920px) {
  .top-nav.responsive {position: relative;}
  .top-nav .responsive .top-nav__icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav a {
    line-height: 0px;
    padding: 20px 0px 20px 0px;
    
  }
  .top-nav a:hover{
    color: #ee2527;
    
  }
  .top-nav__btn-div:hover {
    color: white;
    border:none;
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .top-nav a {
    line-height:20px;
  }
  .top-nav__btn-div {
  border: 0px solid #ee2527;
  border-radius: 20px;
  padding: 0px 20px;
  }
  .top-nav .top-nav__link--btn{
      padding: 20px 0px 20px 0px;
  }
  .bottom-nav{
    display: flex;
    place-content: baseline;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10px;
  }
}
