<template>
     <div class="container">
                    <div class="col-8">
                        <h1>Добавить новость</h1>
                        <form  action="{{route('form-input')}}" method="post" enctype="multipart/form-data">
                            <div class="div-nav"></div>
                            <div class="form-group">
                                <label for="name">Название новости</label>
                                <input type="text" v-model="form.name" class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label for="body">Содержание</label>
                                <textarea class="form-control" v-model="form.body" rows="3" name="body"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="image">Картинка для новости</label>
                                <input type="file" class="form-control-file" accept="image/*" @change="uploadImage($event)" id="file-input">
                            </div>
                            <select name="category_id" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option></option>
                            </select>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </form>
                    </div>
                </div>

</template>

<script>
export default {
data(){
return{
form:{
name: '',
email: '',
password: '',
password_confirm: ''
},
errors:[]
}
},
mounted(){
           this.getPost()
},
methods:{
    addUser(){
        if(this.form.password === this.form.password_confirm) {
            axios.post('/api/registrate', this.form).then(response=>{
            console.log(response)
            }).catch((error) => {

            })
        }
    },
     getPost(){
                axios.get('/api/cat')
                .then(response=>{
                 this.posts=response.data
           })
           .finally(() => this.loading=false)
       },

    uploadImage($event){
        const URL = "http://foobar.com/upload";
        let data=new FormData();
        data.append('name','my-picture');
        data.append('file',event.target.files[0]);
        let config={
            header:{
                'Content-Type':'image/png'
            }
        }
        axios.put(URL,
        data,
        config).then(
            response=>{
                console.log('image upload response>',response)

            }
        )
        }
    }
}

</script>