<template>
<div class="content">
<input type="text" v-model="form.email" placeholder="Электронная почта">
<input type="password" v-model="form.password" placeholder="Пароль">
<button @click.prevent="loginUser" type="submit">Войти</button>
</div>
</template>

<script>
export default {
data(){
return{
form:{
email: '',
password: ''
},
errors:[]
}
},
methods:{
loginUser(){
axios.post('/api/login', this.form).then(response=>{
console.log(response)
}).catch((error) => {

})
}
}
}
</script>